@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #e11d48;
  --font-family-sans: "Inter", sans-serif;
}

/* Custom thêm nếu cần */
/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}/* Custom Slick Arrows */
.image-movie-slider .slick-prev:before, 
.image-movie-slider .slick-next:before {
    color: #2a3f61; /* Màu xanh blue */
    font-size: 30px;
    opacity: 0.8;
}

.image-movie-slider .slick-prev {
    left: -35px;
    z-index: 10;
}

.image-movie-slider .slick-next {
    right: -35px;
    z-index: 10;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.slick-prev:before, .slick-next:before {
  color: #2a3f61 !important;
  font-size: 24px !important;
}
.slick-prev { left: -30px !important; z-index: 10; }
.slick-next { right: -30px !important; z-index: 10; }

/* Đảm bảo modal luôn trên cùng */
.fixed.inset-0.z-\[9999\] {
    isolation: isolate;
}

/* Hạ thấp độ ưu tiên của các slick arrows nếu cần */
.slick-prev, .slick-next {
    z-index: 10 !important;
}

/* Đảm bảo phần trailer iframe không bị ảnh hưởng bởi transform của cha */
iframe {
    transform: translateZ(0);
}

.slick-prev:before, .slick-next:before {
  color: #2a3f61 !important; /* Màu tím giống border của bạn */
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgba(220, 38, 38, 0.5) 30%,#0000 0 70%,rgba(220, 38, 38, 1) 0) 50%/8% 100%,
    linear-gradient(90deg,rgba(220, 38, 38, 0.25) 30%,#0000 0 70%,rgba(220, 38, 38, 0.75) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}

.loader::before,
.loader::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}

.loader::after {
   opacity: 0.83;
   transform: rotate(60deg);
}

@keyframes l23 {
  100% {transform: rotate(1turn)}
}

@keyframes kenburns {
  0% { transform: scale(1) translate(0, 0); }
  100% { transform: scale(1.15) translate(-2%, -2%); }
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Buộc Artplayer phải chiếm toàn bộ không gian của thẻ div cha */
.artplayer-app {
  width: 100% !important;
  height: 100% !important;
  z-index: 10;
}

/* Đảm bảo thẻ video bên trong không bị script lạ can thiệp */
.art-video {
  pointer-events: auto !important;
}

/* Fix lỗi các thanh điều khiển (control bar) bị mất hoặc ẩn */
.art-controls {
  z-index: 20 !important;
}

/* Đảm bảo khung aspect-video của bạn không chặn sự kiện */
.aspect-video {
  pointer-events: auto !important;
  position: relative;
}
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}